version: '3.8'
services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - '6333:6333'
    volumes:
      - qdrant_storage:/qdrant/storage
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
    networks:
      - app_network

  backend:
    build: ./backend
    container_name: rag-backend
    env_file: ./backend/.env
    ports:
      - '8000:8000'
    depends_on:
      - qdrant
    volumes:
      - ./widget:/app/widget:ro
      - ./frontend:/app/frontend:ro
    networks:
      - app_network

  nginx:
    build: ./nginx
    container_name: rag-nginx
    ports:
      - '80:80'
      - '443:443'
    depends_on:
      - backend
    volumes:
      - ./widget:/usr/share/nginx/html/widget:ro
      - ./frontend:/usr/share/nginx/html/frontend:ro
      - /etc/letsencrypt/live/test-domain.ru:/etc/nginx/certs:ro
    networks:
      - app_network

volumes:
  qdrant_storage:

networks:
  app_network:
    driver: bridge
